/* HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/   */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*! WEBCODER - http://webcoder.az/ Mehemmed Memmedli  16 Aprel 2016  https://github.com/nemerki */
/*
-sm
-m
-lg
-xl

*/
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(148, 14, 19, 0.5); }
  70% {
    box-shadow: 0 0 0 4em rgba(172, 125, 58, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(172, 125, 58, 0); } }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(148, 14, 19, 0.5); }
  70% {
    box-shadow: 0 0 0 4em rgba(172, 125, 58, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(172, 125, 58, 0); } }

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }
  @media (max-width: 575px) {
    html {
      font-size: 50%; } }

body {
  width: 100%;
  box-sizing: border-box; }

@media (min-width: 576px) {
  .container {
    max-width: 90%; } }

@media (min-width: 1200px) {
  .container {
    max-width: 114rem;
    width: 100%; } }

@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

section {
  position: relative;
  float: left;
  width: 100%; }

a:link,
a:visited,
a:hover {
  text-decoration: none; }

body {
  font-family: 'SamsungSharpSans';
  font-weight: 400;
  color: #000; }

.heading-primary {
  color: #fff;
  max-width: 35.5rem;
  font-family: 'SamsungSharpSans-Bold';
  font-size: 3rem;
  line-height: 4.5rem; }
  @media (max-width: 767px) {
    .heading-primary {
      max-width: 100%;
      text-align: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }

@font-face {
  font-family: 'SamsungSharpSans';
  src: url("../../fonts/SamsungSharpSans.eot");
  src: url("../../fonts/SamsungSharpSans.eot?#iefix") format("embedded-opentype"), url("../../fonts/SamsungSharpSans.woff2") format("woff2"), url("../../fonts/SamsungSharpSans.woff") format("woff"), url("../../fonts/SamsungSharpSans.ttf") format("truetype"), url("../../fonts/SamsungSharpSans.svg#SamsungSharpSans") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SamsungSharpSans-Bold';
  src: url("../../fonts/SamsungSharpSans-Bold.eot");
  src: url("../../fonts/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SamsungSharpSans-Bold.woff2") format("woff2"), url("../../fonts/SamsungSharpSans-Bold.woff") format("woff"), url("../../fonts/SamsungSharpSans-Bold.ttf") format("truetype"), url("../../fonts/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SamsungSharpSans-Medium';
  src: url("../../fonts/SamsungSharpSans-Medium.eot");
  src: url("../../fonts/SamsungSharpSans-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/SamsungSharpSans-Medium.woff2") format("woff2"), url("../../fonts/SamsungSharpSans-Medium.woff") format("woff"), url("../../fonts/SamsungSharpSans-Medium.ttf") format("truetype"), url("../../fonts/SamsungSharpSans-Medium.svg#Cambria-SamsungSharpSans-Medium") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../../fonts/Roboto-Bold.eot");
  src: url("../../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.ttf") format("truetype"), url("../../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../../fonts/Roboto-Thin.eot");
  src: url("../../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff"), url("../../fonts/Roboto-Thin.ttf") format("truetype"), url("../../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../../fonts/Roboto-Medium.eot");
  src: url("../../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.ttf") format("truetype"), url("../../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../../fonts/Roboto-Regular.eot");
  src: url("../../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype"), url("../../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../../fonts/Roboto-Light.eot");
  src: url("../../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff"), url("../../fonts/Roboto-Light.ttf") format("truetype"), url("../../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

.button:link, .button:visited {
  text-decoration: none; }

.button-transparent {
  background-color: transparent;
  border: 0.2rem solid #fff;
  color: #fff;
  border-radius: .5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 2.7rem;
  background-size: 1.5rem;
  background-position: right 1.5rem center;
  background-repeat: no-repeat;
  width: 15.5rem;
  transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89);
  padding: .5rem 1rem;
  font-family: 'SamsungSharpSans-Medium'; }
  .button-transparent:hover {
    background-color: #fff;
    color: #be2e33; }
    .button-transparent:hover i {
      margin-left: 1.5rem; }
  .button-transparent i {
    margin-left: 1rem;
    transition: all .3s; }

.button-white {
  display: inline-block;
  width: 100%;
  background-color: transparent;
  color: #000;
  font-family: 'SamsungSharpSans-Bold';
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  position: relative;
  transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }

.button--red {
  display: inline-block;
  background-color: #be2e33;
  color: #fff;
  text-transform: uppercase;
  font-family: 'SamsungSharpSans-Bold';
  transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89);
  border: 1px solid transparent; }
  .button--red:hover {
    background-color: #fff;
    color: #be2e33;
    border-color: #be2e33; }

.button--thick {
  padding: .3rem 2.6rem;
  font-size: 1.7rem; }

.button--thin {
  padding: .6rem  1.4rem;
  font-size: 1.24rem;
  margin-top: 2.5rem; }
  .button--thin-notransition:hover {
    background-color: #be2e33;
    color: #fff; }
  .button--thin img {
    margin-right: .5rem; }

.button--submit {
  display: block;
  margin: 0 auto;
  padding: .6rem  3.8rem; }

.product-card {
  width: 33.6rem;
  border: 1px solid #d5d5d5;
  padding-top: 4rem;
  position: relative;
  overflow: hidden; }
  @media (max-width: 575px) {
    .product-card {
      width: 100%; } }
  .product-card::after {
    content: '';
    position: absolute;
    height: 4.8rem;
    width: 0;
    background-color: #be2e33;
    bottom: 0;
    left: 0;
    transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89);
    z-index: 19; }
  .product-card::before {
    content: '';
    position: absolute;
    height: .8rem;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #be2e33; }
  .product-card:hover::after {
    width: 100%; }
  .product-card:hover .button-white {
    color: #fff;
    z-index: 20; }
  .product-card:hover .product-card__image img {
    transform: scale(1.1); }
  .product-card__image img {
    transition: all .3s ease-in-out; }
  .product-card__title {
    font-family: 'SamsungSharpSans-Bold';
    font-size: 2rem;
    line-height: 3.4rem;
    margin-top: 2.4rem;
    margin-bottom: 1.4rem; }
  .product-card__content {
    padding: 2rem  5.7rem 0 5.7rem;
    background-image: linear-gradient(180deg, #ecebeb 10%, transparent 30%); }
  .product-card__text {
    font-family: 'Roboto-Light';
    font-size: 1.4rem; }
  .product-card__price {
    font-family: 'SamsungSharpSans-Bold';
    font-size: 2rem;
    margin-top: 4.5rem;
    margin-bottom: 4rem; }

.form-box {
  position: absolute;
  right: 11.4rem;
  width: 32.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2.5rem; }
  @media (max-width: 575px) {
    .form-box {
      right: auto;
      left: 50%;
      top: 0;
      transform: translateX(-50%); } }
  .form-box__title {
    font-family: 'SamsungSharpSans-Bold';
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .form-box .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem; }
  .form-box .form-control {
    padding: 1.8rem 2.5rem;
    height: auto;
    font-family: 'SamsungSharpSans-Bold';
    font-size: 1.3rem;
    color: #727272; }
    .form-box .form-control::-moz-placeholder {
      font-family: 'SamsungSharpSans-Bold';
      font-size: 1.3rem;
      color: #727272; }
    .form-box .form-control:-ms-input-placeholder {
      font-family: 'SamsungSharpSans-Bold';
      font-size: 1.3rem;
      color: #727272; }
    .form-box .form-control::placeholder {
      font-family: 'SamsungSharpSans-Bold';
      font-size: 1.3rem;
      color: #727272; }
    .form-box .form-control--big {
      width: 75%; }
    .form-box .form-control--small {
      width: 20%; }

.chat-modal {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  z-index: 5000000; }

.chat-btn {
  width: 7rem;
  height: 7rem;
  background-color: #940e13;
  border-radius: 50%;
  z-index: 200000;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite; }
  .chat-btn img {
    width: 4.5rem;
    height: 4rem; }

.chat-box {
  background-color: #940e13;
  padding: 4rem;
  border-radius: 5px;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 30rem;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .chat-box .form-group label {
    color: #fff;
    font-family: 'SamsungSharpSans';
    text-transform: uppercase;
    font-size: 1.4rem; }
  .chat-box .form-control {
    height: auto;
    padding: 1rem 1.5rem; }
  .chat-box__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .chat-box__close:hover {
      color: #940e13;
      background-color: #fff; }
  .chat-box__submit {
    background-color: #fff;
    font-family: 'SamsungSharpSans-Medium';
    border: 1px solid #940e13;
    padding: .7rem 1.2rem;
    width: 11rem;
    display: block;
    margin: 0 auto;
    color: #940e13;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 2.5rem; }
  .chat-box-active {
    visibility: visible;
    opacity: 1;
    transform: scale(1); }

.footer {
  position: relative;
  width: 100%;
  float: left;
  background-color: #edebeb;
  padding: 7rem 0; }
  .footer__in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .footer__in {
        flex-direction: column; } }
  .footer__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 28rem; }
    @media (max-width: 991px) {
      .footer__left {
        margin-right: 15rem; } }
    @media (max-width: 767px) {
      .footer__left {
        margin-right: 0;
        margin-bottom: 4.5rem; } }
  .footer__logo {
    margin-bottom: 4.5rem; }
    @media (max-width: 767px) {
      .footer__logo {
        width: 17rem; } }
    .footer__logo img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem; }
    .footer__social-title {
      font-family: 'SamsungSharpSans-Medium';
      font-size: 1.4rem;
      color: #be2e33; }
    .footer__social-link {
      background-color: #000;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 1.2rem;
      transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
      .footer__social-link:hover {
        color: #be2e33; }
      .footer__social-link i {
        font-size: 1.5rem; }
  .footer__link--web {
    color: #000;
    font-family: 'SamsungSharpSans';
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 1.8rem;
    transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
    .footer__link--web:hover {
      color: #be2e33; }
  .footer__title {
    font-family: 'SamsungSharpSans-Bold';
    font-size: 2.9rem;
    margin-bottom: 2.4rem; }
  .footer__contact {
    font-family: 'SamsungSharpSans-Medium';
    font-size: 1.4rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
    .footer__contact:hover {
      color: #be2e33; }
      .footer__contact:hover a {
        color: #be2e33; }
    .footer__contact a {
      color: #000;
      transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
    .footer__contact i {
      color: #fff;
      background-color: black;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      font-size: 1.2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 1.2rem; }

.header {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  @media (max-width: 767px) {
    .header__logo {
      width: 17rem; } }
  .header__logo img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .header__contact {
    text-align: right; }
  .header__title {
    font-size: 1.2rem;
    line-height: 0; }
  .header__phone {
    display: inline;
    text-decoration: none;
    font-family: 'SamsungSharpSans-Bold';
    color: #be2e33;
    font-size: 2rem; }
    @media (max-width: 575px) {
      .header__phone {
        font-size: 1.8rem; } }
    .header__phone:hover {
      color: #be2e33; }
    .header__phone-icon {
      margin-right: .5rem;
      margin-bottom: .5rem; }

.footer {
  position: relative;
  width: 100%;
  float: left;
  background-color: #edebeb;
  padding: 7rem 0; }
  .footer__in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .footer__in {
        flex-direction: column; } }
  .footer__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 28rem; }
    @media (max-width: 991px) {
      .footer__left {
        margin-right: 15rem; } }
    @media (max-width: 767px) {
      .footer__left {
        margin-right: 0;
        margin-bottom: 4.5rem; } }
  .footer__logo {
    margin-bottom: 4.5rem; }
    @media (max-width: 767px) {
      .footer__logo {
        width: 17rem; } }
    .footer__logo img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem; }
    .footer__social-title {
      font-family: 'SamsungSharpSans-Medium';
      font-size: 1.4rem;
      color: #be2e33; }
    .footer__social-link {
      background-color: #000;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 1.2rem;
      transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
      .footer__social-link:hover {
        color: #be2e33; }
      .footer__social-link i {
        font-size: 1.5rem; }
  .footer__link--web {
    color: #000;
    font-family: 'SamsungSharpSans';
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 1.8rem;
    transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
    .footer__link--web:hover {
      color: #be2e33; }
  .footer__title {
    font-family: 'SamsungSharpSans-Bold';
    font-size: 2.9rem;
    margin-bottom: 2.4rem; }
  .footer__contact {
    font-family: 'SamsungSharpSans-Medium';
    font-size: 1.4rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
    .footer__contact:hover {
      color: #be2e33; }
      .footer__contact:hover a {
        color: #be2e33; }
    .footer__contact a {
      color: #000;
      transition: all 0.3s cubic-bezier(0.24, 0.5, 0.22, 0.89); }
    .footer__contact i {
      color: #fff;
      background-color: black;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      font-size: 1.2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 1.2rem; }

.main-slider {
  position: relative;
  float: left;
  width: 100%;
  height: 51.7rem; }
  .main-slider .splide {
    width: 100%;
    height: 51.7rem; }
  .main-slider .splide__track {
    height: 51.7rem; }
  .main-slider .splide__slide {
    height: 100%;
    background-image: url("../../img/main-slider_bcg.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .main-slider__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7rem; }
    @media (max-width: 767px) {
      .main-slider__content {
        padding-left: 0;
        align-items: center; } }
  .main-slider .splide__pagination__page {
    display: none; }
  .main-slider .splide__arrows {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    right: 5rem; }
    @media (max-width: 767px) {
      .main-slider .splide__arrows {
        right: 50%; } }
  .main-slider .splide__arrow {
    background-color: transparent;
    background-repeat: no-repeat;
    width: 3rem; }
    .main-slider .splide__arrow svg {
      display: none; }
    @media (max-width: 767px) {
      .main-slider .splide__arrow {
        width: 5rem;
        height: 4rem; } }
  .main-slider .splide__arrow--next {
    background-image: url("../../img/arrow-left.svg");
    right: 0; }
  .main-slider .splide__arrow--prev {
    background-image: url("../../img/arrow-rihgt.svg");
    right: 4rem;
    left: auto; }

.products {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  @media (max-width: 575px) {
    .products {
      padding-bottom: 0; } }
  .products .col-lg-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2.7rem;
    padding-right: 2.7rem; }
    @media (max-width: 991px) {
      .products .col-lg-4 {
        margin-bottom: 2.7rem; } }
    .products .col-lg-4:first-child {
      padding-left: 0; }
      @media (max-width: 991px) {
        .products .col-lg-4:first-child {
          padding-left: 2.7rem; } }
    .products .col-lg-4:nth-child(2) {
      padding-left: 2.2rem;
      padding-right: 2.2rem; }
    .products .col-lg-4:last-child {
      padding-right: 0; }
      @media (max-width: 991px) {
        .products .col-lg-4:last-child {
          padding-right: 2.7rem; } }

.product {
  padding: 7rem 0; }
  .product__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d5d5d5;
    padding: 3rem  3rem; }
    @media (max-width: 991px) {
      .product__gallery--big {
        width: 23rem; } }
    @media (max-width: 767px) {
      .product__gallery--big {
        width: 65%; } }
    .product__gallery--big img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .product__gallery--small {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-between; }
      @media (max-width: 991px) {
        .product__gallery--small {
          width: 10rem; } }
      @media (max-width: 767px) {
        .product__gallery--small {
          width: 25%; } }
      .product__gallery--small img {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .product__gallery--small img:nth-child(2) {
        margin-bottom: 4rem; }
  .product__content {
    padding-top: 1.2rem;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (max-width: 767px) {
      .product__content {
        align-items: center; } }
  .product__rate i {
    color: #be2e33;
    font-size: 2rem; }
    @media (max-width: 991px) {
      .product__rate i {
        font-size: 1.5rem; } }
  .product__title {
    font-family: 'SamsungSharpSans-Bold';
    font-size: 3.7rem;
    text-transform: uppercase;
    line-height: 5rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem; }
    @media (max-width: 575px) {
      .product__title {
        font-size: 3rem; } }
  .product__list {
    list-style: none; }
    .product__list-item {
      font-family: 'Roboto-Light';
      font-size: 1.4rem;
      line-height: 2rem;
      padding-left: 1rem;
      position: relative; }
      .product__list-item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: .5rem;
        height: 2px;
        background-color: #be2e33; }
  .product__price {
    font-size: 2.1rem;
    font-family: 'SamsungSharpSans-Bold';
    color: #be2e33;
    display: block;
    margin: 5.6rem 0; }
    @media (max-width: 991px) {
      .product__price {
        margin: 3.5rem 0; } }

.video {
  padding: 7rem 0; }
  @media (max-width: 575px) {
    .video {
      padding-top: 0; } }
  .video .col-lg-8 {
    flex: 0 0 64%;
    max-width: 64%; }
    @media (max-width: 991px) {
      .video .col-lg-8 {
        flex: 0 0 100%;
        max-width: 100%; } }
  .video .col-lg-4 {
    flex: 0 0 36%;
    max-width: 36%; }
    @media (max-width: 991px) {
      .video .col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%; } }
  @media (max-width: 991px) {
    .video__left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; } }
  .video__title {
    font-family: 'SamsungSharpSans-Bold';
    font-size: 3.7rem;
    line-height: 5rem;
    text-transform: uppercase; }
    @media (max-width: 575px) {
      .video__title {
        font-size: 3rem; } }
  .video__text {
    font-family: 'Roboto-Light';
    font-size: 1.6rem;
    line-height: 3rem; }
  .video__right {
    position: relative;
    text-align: right; }
    .video__right img {
      width: 100%; }
  .video__play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200; }
    @media (max-width: 575px) {
      .video__play-button {
        width: 9.5rem; } }
  .video .button--red {
    margin-top: 1.5rem; }
    @media (max-width: 991px) {
      .video .button--red {
        margin-bottom: 2.5rem; } }

.product-slider {
  padding: 7rem 0; }
  @media (max-width: 575px) {
    .product-slider {
      padding-top: 0; } }
  .product-slider .splide__slide {
    width: calc( (100% - 9.4rem) / 3) !important;
    transition: transform 1s; }
    @media (max-width: 991px) {
      .product-slider .splide__slide {
        width: calc( (100% - 4.7rem) / 2) !important; } }
    @media (max-width: 575px) {
      .product-slider .splide__slide {
        width: 100% !important;
        height: 40rem; } }
    .product-slider .splide__slide:not(:last-child) {
      margin-right: 4.7rem; }
    .product-slider .splide__slide img {
      width: 100%; }
  .product-slider .splide__pagination {
    display: none; }
  .product-slider .splide__arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: unset;
    width: 28px;
    height: 34px; }
    .product-slider .splide__arrow svg {
      width: 1.8em;
      height: 2.2em; }
      .product-slider .splide__arrow svg path {
        fill: #fff; }
    .product-slider .splide__arrow--prev {
      left: 0; }
    .product-slider .splide__arrow--next {
      right: 0; }

.contact {
  min-height: 54.6rem;
  background-image: url("../../img/contact_bcg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 8rem 0; }
  @media (max-width: 575px) {
    .contact {
      background-position: center;
      padding-top: 5rem;
      padding-bottom: 0;
      min-height: 49.6rem; } }
  .contact__in {
    position: relative;
    width: 100%;
    float: left; }

.buynowModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 6000000;
  visibility: hidden;
  opacity: 0;
  transition: all .4s; }
  @media (max-width: 575px) {
    .buynowModal {
      padding: 0 2.5rem; } }
  .buynowModal__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    background-color: #be2e33;
    width: 450px;
    padding: 4rem;
    padding-top: 6rem;
    transition: all .4s; }
    @media (max-width: 575px) {
      .buynowModal__center {
        width: 90%; } }
  .buynowModal__close {
    position: absolute;
    right: 2rem;
    top: 0;
    font-size: 6rem;
    color: #fff; }
    .buynowModal__close:hover {
      color: #fff; }
  .buynowModal .form-group label {
    color: #fff;
    font-family: 'SamsungSharpSans-Medium';
    font-size: 1.4rem;
    text-transform: uppercase; }
  .buynowModal .form-check {
    margin: 2rem 0;
    display: inline-block;
    margin-right: 2rem; }
  .buynowModal .form-check label {
    color: #fff;
    font-family: 'SamsungSharpSans-Medium';
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-left: 1rem; }
  .buynowModal .form-group .form-control {
    height: auto;
    padding: 1rem 1.5rem; }
  .buynowModal__submit-btn {
    display: block;
    width: 15rem;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-family: 'SamsungSharpSans-Bold';
    background-color: #fff;
    color: #be2e33;
    text-transform: uppercase;
    border: 1px solid #be2e33;
    margin: 0 auto; }
  .buynowModal-active {
    visibility: visible;
    opacity: 1;
    transform: scale(1); }
    .buynowModal-active .buynowModal__center {
      transform: translate(-50%, -50%) scale(1); }

/*! WEBCODER - http://webcoder.az/ Mehemmed Memmedli  16 Aprel 2018  https://github.com/nemerki */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
