<header class="main-header">
    <div class="container">
        <div class="header-body">
            <h1 class="logo">October Movies</h1>
            <nav class="main-nav">
                <ul>
                    <li><a href="{{'homepage'|page}}">Home</a></li>
                    <li><a href="{{'movies'|page}}">Movies</a></li>
                    <li><a href="/add-actors">Add Actors</a></li>
                    <li><a href="{{'login'|page}}">
                        {% if not user%}
                        Login
                        {% else %}
                        My Profile
                        {% endif%}
                    </a></li>
                    {% if user %}
                        <li><a data-request="onLogout" data-request-data="redirect:'/'">Sign Out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
